<tr class="item-<%= taxonomy[:id] %>">
  <td><a href="<%= edit_taxonomy_path(taxonomy) %>"><%= taxonomy[:id] %></a></td>
  <td><%= taxonomy[:name] %></td>
  <td><%= taxonomy[:code] %></td>
  <td><%= taxonomy[:position] %></td>
  <td class='group-action'>
    <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, taxonomy, method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
