<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
  </head>

  <body>

    <div class="page-content container">
  		<div class="row">
  			<div class="col-md-4 col-md-offset-4">
          <%= flash_notify('col-md-12') %>

          <div class="login-wrapper">
            <div class="box">
              <div class="content-wrap">
                <%= yield %>
              </div>
            </div>

            <%= render 'admin/sessions/component/already_account' %>
          </div>

  			</div>
  		</div>
  	</div>

  </body>
</html>
